<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="/"><h4 class="nav-link active text-dark" aria-current="page">Home</h4></a>
        </li>    
      </ul>
      
    <div class="container">
        <div class="row d-flex">
            <div class="col-6 ">
                <h1 class="text-center">Register</h1>
                <form method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail" required>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="passw" required>
                    </div>
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        
                      </div>
                  </form>
            </div>
            <div class="col-6  p-4 bg-info bg-gradient" style="height:90vh;">
                <h1 class="text-center">Login</h1>
                <form method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control bg-dark text-light" id="exampleInputPassword1" name="passw" required>
                    </div>
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>