<!DOCTYPE html>
<html lang="en">
<head>
{% include 'head.html'%}
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
      {%if session['user']%}
          <h6>UName: {{session['user']}}</h6>
        <div class="">
          <h1 class="text-center">Your Collection</h1>
          
        </div>
        <div class="d-flex flex-row justify-content-center">
          <div class="row">
            {% for i in SessionData%}
            <div class="col-4">
            <div class="card mb-3 " style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{i['imageLinks']['smallThumbnail']}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      
                      <h5 class="card-title">{{i['title']}}</h5>
                      <p class="card-text">author of the book <strong>{{i['authors'][0]}}</strong></p>
                      <p class="card-text"><small class="text-muted">publisher is <strong>{{i['publisher']}}</strong></small></p>
                      <div>
                      <p class="card-text"><small class="text-muted">the published year is <strong>{{i['publishedDate']}}</strong></small></p>
                    </div>
                    </div>
                    
                   
                  </div>
                  <div class="bg-dark">
                  <hr>
                  <p class="card-text text-center mt-0 pt-0 text-light"><small class="text-muted">page count:<strong>{{i['pageCount']}}</strong></small></p>
          <div class="card-body">
            
          
            <div class="d-flex justify-content-center p-3"><a href="{{i['previewLink']}}" class="card-link btn btn-primary">Read book</a>
                <a href="{{i['infoLink']}}" class="card-link btn btn-warning">add to inventory</a>
            </div>
    
          </div>
        </div>
            </div>
                </div>
            </div>
            {%endfor%}

          </div>
        </div>
        
        <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Browse More ...</button>
      </div>
      {%else%}
   
    <div class="d-flex flex-row justify-content-center">
        <div class="row">
            <h1>Free E books</h1>
            <p class="card-text"><small class="text-muted"><a href="">login</a> to view all the ebooks</small></p>
        {% for i in vol%}
        <div class="col-4">
        <div class="card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{i['imageLinks']['smallThumbnail']}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{i['title']}}</h5>
                  <p class="card-text">author of the book <strong>{{i['authors'][0]}}</strong></p>
                  <p class="card-text"><small class="text-muted">publisher is <strong>{{i['publisher']}}</strong></small></p>
                  <div>
                  <p class="card-text"><small class="text-muted">the published year is <strong>{{i['publishedDate']}}</strong></small></p>
                </div>
                </div>
                
               
              </div>
              <div class="bg-dark">
              <hr>
              <p class="card-text text-center mt-0 pt-0 text-light"><small class="text-muted">page count:<strong>{{i['pageCount']}}</strong></small></p>
      <div class="card-body">
        
      
        <div class="d-flex justify-content-center p-3"><a href="{{i['previewLink']}}" class="card-link btn btn-primary">Read book</a>
            <a href="{{i['infoLink']}}" class="card-link btn btn-warning">Information</a>
        </div>

      </div>
    </div>
        </div>
            </div>
        </div>
        {%endfor%}
    </div>
    </div>
   
    <pre></pre>
    {%endif%}
</div>
    
</body>
</html>


